extends ../layout/authorization.pug

block variables
    - var title = 'Регистрация';
    - var description = "Страница с регистрацией";
    - var pageClass = 'reg';

block content
  .row
    .col-md-3
    .col-md-3
      reg-components
