<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<a th:href="@{{frontendUrl}/registration/confirm?confirmcode={confirmCode}{userParam}{userId}(confirmCode=${confirmCode}, frontendUrl=${frontendUrl}, userId=${userId}), userParam='&userId='}">Подтвердите регистрацию</a>-->
<a th:href="@{${frontendUrl}+ '/registration/confirm'(userId=${userId}, confirmCode=${confirmCode})}">Подтвердите регистрацию</a>
</body>
</html>